
#head{
    display: flex;
    background-color: rgb(255, 241, 224);
    border: 0px;
}

#headtext{
    transform: translate(80%, 0%);
}


#inputbackground{
    background-color:beige;
    height: 1200px;
    width: 500px;
    transform: translate(10%, 10%);
    
}

#Titletext{
    color:rgb(0, 0, 0);
    transform: translate(130%, -5%);
}
.firstrow{
    height:30px;
    border-color: black;
    border-radius: 5%;
}

.secondrow{
    height:30px;
    border-color: rgb(0, 0, 0);
    transform: translate(0%, 20%);
    border-radius: 5%;
}

.thirdrow{
    height:30px;
    border-color: black;
    transform: translate(0%, 40%);
    border-radius: 5%;
}

.fourthrow{
    height:30px;
    border-color: black;
    transform: translate(0%, 60%);
    border-radius: 5%;
}

.fifthrow{
    height:30px;
    border-color: black;
    transform: translate(0%, 80%);
    border-radius: 5%;
}

.sixthrow{
    height:30px;
    border-color: black;
    transform: translate(0%, 100%);
    border-radius: 5%;
}

.seventhow{
    height:30px;
    border-color: black;
    transform: translate(0%, 120%);
    border-radius: 5%;
}

#submit{
    height:30px;
    width: 300px;
    transform: translate(0%, 43px);
}

#grade{
    transform: translate(15%, 200%)
}


#weight{
    transform: translate(63%, 30%)
}

#answer{
    transform:translate(-225%, 125%)
}

#answer-box{
    background-color: rgb(255, 255, 255);
    border-style:ridge;
    border-color: black;
    height: 25px;
    width: 86px;
    transform:translate(-430px, 470px)
}

#letter-box{
    background-color: rgb(255, 255, 255);
    height: 25px;
    width: 86px;
    border-color: black;
    border-style: ridge;
    transform: translate(-400px, 470px);
}
#letter{
    transform: translate(-510px, 455px);
}
#result{
    transform:translate(-590px, 455px)
}

#gradeset{
    display: flex;
    flex-wrap: wrap;
    transform:translate(-3%, -270%)
}



